{% extends 'base.html.twig' %}

{% block content %}
	<div class="gallery-content">
		<div class="gallery">
			<div class="i1"><img src="assets/gallery-pics/1.jpg" alt="pic1"></div>
			<div class="i2"><img src="assets/gallery-pics/2.jpg" alt="pic2"></div>
			<div class="i3"><img src="assets/gallery-pics/3.jpg" alt="pic3"></div>
			<div class="i4"><img src="assets/gallery-pics/4.jpg" alt="pic4"></div>
			<div class="i5"><img src="assets/gallery-pics/5.jpg" alt="pic5"></div>
			<div class="i6"><img src="assets/gallery-pics/6.jpg" alt="pic6"></div>
			<div class="i7"><img src="assets/gallery-pics/7.jpg" alt="pic7"></div>
			<div class="i8"><img src="assets/gallery-pics/8.jpg" alt="pic8"></div>
			<div class="i9"><img src="assets/gallery-pics/9.jpg" alt="pic9"></div>

		</div>

		<div class="source">Images from:
			<a id="images-source" href="https://www.pexels.com/">
				Pexels.com</a>

		</div>

	</div>
</div>{% endblock %}
